# Configurações do Banco de Dados PostgreSQL
POSTGRES_DB=achados_db
POSTGRES_USER=usuario_ficticio
POSTGRES_PASSWORD=senha_segura_ficticia

# Configurações da Aplicação Web
DB_HOST=db
DB_PORT=5432
DB_NAME=achados_db
DB_USER=usuario_ficticio
DB_PASSWORD=senha_segura_ficticia
UPLOAD_DIR=/app/uploads